html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling in both directions */
    white-space: nowrap; /* Prevent content from wrapping */

}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    text-align: center;
}

.content {
    width: 200%; /* Make content wider than the viewport */
    height: 200%; /* Make content taller than the viewport */
    background: linear-gradient(to bottom right, #f4f4f4, #ddd, #333);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
