html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling if not needed */
    font-family: Arial, sans-serif;
}

header {
    background-color: #81BEF7;
    color: black;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

.content {
    height: 150vh; /* Add content that exceeds the viewport height */
    background: linear-gradient(to bottom, #E0F8EC, #0B615E);
    padding: 1rem;
}

footer {
    background-color: #A9E2F3;
    color: black;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
